name: Deploy Frontend na Vercel (Hobby)

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Ustawienie Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Instalacja Vercel CLI
        run: npm install -g vercel@latest

      - name: Instalacja zależności
        run: npm install

      - name: Pobranie Ustawień Projektu Vercel
        run: vercel pull --yes --environment=production --token ${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: w8aj4QeppJotshh5dndW4RdD 
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

      - name: Budowanie projektu (vercel build)
        run: vercel build
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: w8aj4QeppJotshh5dndW4RdD 
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VITE_CLERK_PUBLISHABLE_KEY: ${{ secrets.VITE_CLERK_PUBLISHABLE_KEY }}
          VITE_API_URL: ${{ secrets.VITE_API_URL }}

      - name: Deploy na Vercel
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            DEPLOY_FLAGS="--prod"
          else
            DEPLOY_FLAGS=""
          fi
          
          vercel deploy --prebuilt $DEPLOY_FLAGS --token ${{ secrets.VERCEL_TOKEN }}
        
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: w8aj4QeppJotshh5dndW4RdD
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}